 <!-- HEADER -->
 <header>
    <div class="nav">

        <div class="logo">
            <a href="home.html">
                <img src="/pic/20240902 Logo.png" alt="Daisenko">
            </a>
        </div>

        <nav class="menu" id="menu">
            <a href="home.html" class="active">Home</a>
            <a href="product.html">Products</a>
            <a href="about.html">About Us</a>
            <a href="ref.html">References</a>
            <a href="contact.html">Contact</a>
        </nav>

        <!-- Hamburger -->
        <div class="hamburger" id="hamburger" onclick="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="menu-overlay" id="overlay"></div>

    </div>
</header>
